<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="gestor-clientes">
  <template>
      <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
      </style>
      <divclass="container">
      <divclass="row">
       <h1 class="col-lg-12">Gestor de clientes</h1>
       <button on-click="obtenerClientes" class=""btn btn-primary"">Obtener clientes</button>
       <table hidden$="{{NoCargados}}">
         <tbody>
           <template is="dom-repeat" items="{{clientes}}">
             <tr>
               <td>
                 [[item.CustomerID]]
               </td>
               <td>
                 [[item.ContactName]]
               </td>
               <td>
                 [[item.CompanyName]]
               </td>
             </tr>
           </template>
         </tbody>
    </divclass>
    </divclass>
  </template>
</dom-module>

</div>
</template>

<script>
  /**
   * @customElement
   * @polymer
   */
    class GestorClientes extends Polymer.Element {
    static get is() { return 'gestor-clientes'; }
    static get properties() {
      return {
        /* propiedades */
        /*notify revisar funcionamiento*/
        clientes: {
          type: Array,
          notify: true
        },
        NoCargados: {
          type: Boolean,
          value: true
        }
      };
    }
    /*metodo GET (DELETE SIMILAR)*/
    obtenerClientes()
    {

      var request = new XMLHttpRequest();
   request.open('GET',"http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
   request.setRequestHeader("Accept", "application/json");
   request.send();
   this.clientes = JSON.parse(request.responseText).value;
   console.log(this.clientes);
   this.NoCargados = false;
    }

    /*METODO POST (PUT SIMILAR)*/
    anadirClientes()
    {

      var request = new XMLHttpRequest();
   request.open('POST',"http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
   request.setRequestHeader("Accept", "application/json");
   request.setRequestHeader("Content-type","application/json");
   /* después será this.CustomerID,this.ContactName, this.CompanyName*/
   var nuevoClientes ={"CustomerID": "12345", "ContactName":"Pepe","CompanyName":"Pepes Bar"};
   request.send(body);
   this.respuesta = request.responseText;
   console.log(this.respuesta);
   this.NoCargados = false;
    }
  }

  window.customElements.define(GestorClientes.is, GestorClientes);
</script>
</dom-module>
