<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="loggin-app">
  <template>
   <style>
     :host {
      display: block;
     }
   </style>

          <div class="container">
              <label>Email address</label>
              <input id="exampleInputEmail1" type="email" placeholder="Introduzca su e-mail" value="{{prop1::input}}">
              <label>Password</label>
              <input id="exampleInputPassword" type="password" value="{{prop2::input}}">
              <button on-click="validar" class="btn btn-primary">loggin</button>
              <label>Result</label>
              <input id="exampleMessageResultLoggin" type="text" value=[[prop3]]>
          </div>

  </template>
        <script>
          /**
           * Metodo loggin
           */
          class LogginApp extends Polymer.Element {
            static get is() { return 'loggin-app'; }
            static get properties() {
              return {
                prop1: {
                  type: String,
                },
                prop2: {
                  type: String,
                  value:""
                },
                prop3: {
                  type: String,
                  value:"Resultado incorrecto"
                },
              };
            }
            validar()
            {
              if (this.prop1== "Silvia.arranz@bbva.com")
                 {
                  this.prop3= "Resultado correcto";
                 }

              }
          }

          window.customElements.define(LogginApp.is, LogginApp);
        </script>
    </dom-module>
