<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
    <img src="https://2.bp.blogspot.com/-QsJ2FQHLHcI/UyHumhdq17I/AAAAAAAAud4/OErEvKZIm3U/s1600/PAISAJE+11.jpg" alt="">
    <button on-click="incrementar" class=""btn btn-primary"">cargar datos</button>
    <table  class="table table-striped" col-lg-12 col-lg-12>

              <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
              </thead>
              <body>
                <tr>
                  <td>[[prop2]]</td>
                  <td>Doraemon</td>
                  <td>Garcia</td>
                </tr>
                <tr>
                    <td>2<td>
                    <td>Nobita</td>
                    <td>Garcia</td>
                </tr>
              </body>
        </table>
</div>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorApp extends Polymer.Element {
      static get is() { return 'visor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'visor-app'
          },
          /* Silvia creo una nueva propiedad*/
          prop2: {
            type: Number,
            value: 999
          },
        };
      }
      incrementar()
      {
        this.prop2 = this.prop2 +1;
      }
    }

    window.customElements.define(VisorApp.is, VisorApp);
  </script>
</dom-module>
